*{
    padding: 0;
    margin: 0;
    border-left: 0;
}

nav{
    position:fixed;
    background-color: skyblue;
    height: 70px;
    width: 100%;
    z-index: 1;
    box-shadow: 2px red;
} 
.logo{
    font-size: 25px;
    position: relative;
    left: 5%;
    color: white;
    font-weight: bold;
    line-height: 70px;
}
ul{
    position: relative;
    float: right;
    margin-right: 30px;
}
ul li{
    
    display: inline-block;
    line-height: 70px;
   
}
ul li a{
   
    text-decoration: none;
    color: white;
    font-size: 17px;
}
.main_img{
   width: 100%; 
height:400px;
}
.section1{
   padding-top: 70px;  
}
.img_text{
    position: absolute;
    top: 20%;
    left: 30%;
    color: white;
    background-color: midnightblue;
    padding-right: 20px;
    padding-left: 20px;
    font-size:35px ;
}
.welcome_img{
  width: 100%;  
  height: 250px;
}
.container{
    padding-top: 30px;
}
.product_img{
    width: 90%;
    height: 200px;
}
.label_text{
    display: inline-block;
    width: 100px;
    text-align: right;
    padding-right: 10px;
}
.input_deg{
    width: 30%;
    height: 40px;
    border-radius: 25px;
    border: 1px solid rgb(224, 240, 11);
}
.adm_int{
    padding-top: 10px;
}
.input_txt{
    width: 30%;
    height: 120px;
    border-radius: 20px;
    border: 1px solid rgb(93, 117, 253);
}
#submit{
    position: relative;
    width:15% ;
    left: 5%;
    
}
footer{
    background-color: black;
    height: 70px;
    width: 100%;
  
}
.footer_txt{
    text-align: center;
    color: white;
    top: 20%;
    position: relative;
}


